* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


   
body{
    background-color: rgb(212, 212, 212) ;
}

#display, 
#displayTwo{
    border: 3px solid black;
    border-radius: 10px;
    height: 500px;
    color: black;
    font-size: 3rem;

    box-shadow: 5px 5px 55px 5px black;
    background-color: rgba(64, 64, 64, 0.559);
}

.nums{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 30px;
    background-color: rgba(244, 244, 244, 0.239);
    color: white;
}
input{
    width: 100px;
    height: 100px;
    font-size: 3rem;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    border: 5px solid blue;
    background-color: rgba(244, 244, 244, 0.239);
    color: white;
    
}
label{
    font-size: 2rem;
}

#numsWin{
   
    margin: 20px auto;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
   
}
.btn{
    border: 5px solid black;
    font-size: 1.5rem;
}
h3{
    font-size: 3rem;
    
}
#messageWin{
    color: rgb(246, 255, 0);
    font-style: italic;
}
#happines{
    text-align: center;
    margin-top: 200px;
    font-size: 3rem;
    color: rgb(246, 255, 0);
}