* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


   

#display{
    border: 3px solid black;
    height: 500px;
    color: black;
    font-size: 3rem;
}

#display div{
    border: 3px solid red;
    width: 150px;
    height: 150px;
}

#displayTwo{
    border: 3px solid blue;
    height: 500px;
}
#nums{
    display: flex;
    justify-content: center;
    align-items: center;
}